<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./template-form.component.css">
</head>
<body>
    <div class="box">
        <div class="flex">
            <div class="tbox">
                <h1>Learn to code by watching others</h1><br>
                <p>See how experienced developers solve problems in real-time Watching scripted tutorials is great, but understanding how developers think is invaluable.</p>
            </div>

            <div class="fbox">
                <p class="bbox"><b class="attention">Try it free 7 days, </b> then $20/mo. thereafter</p>
                <div class="form">
                    <form action="" #logIn="ngForm" (ngSubmit)="onSubmit(logIn)">
                        <input type="text" placeholder="First Name" name="fName" ngModel id="ff" minlength="3" required #fName="ngModel">
                        <small *ngIf="fName.invalid && fName.touched">Enter Valid Name</small>
                        <br>

                        <input type="text" placeholder="Last Name" name="lName" id="ff" minlength="3" ngModal required #lName="ngModal">
                        <small *ngIf="lName.invalid && lName.touched">Enter Valid Name</small>
                        <br>
                        <input type="email" placeholder="Email Address" name="email" id="ff" minlength="8" ngModel required #email="ngModel">
                        <small *ngIf="email.invalid && email.touched">Looks like this is not an email</small>
                        <br>
                        <input type="password" placeholder="Password" name="password" id="ff" minlength="5" ngModel required #password="ngModel">
                        <small *ngIf="password.invalid && password.touched">Enter Valid Password</small>
                        <br>
                        <button type="submit"  id="claim">CLAIM YOUR FREE TRAIL</button>
                    </form>

                        <p id="declaration">By clicking the button you are agreeing to our <a target="_blank" href="" id="terms">Terms and conditions</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>